@import "~bootstrap/scss/bootstrap";

$color-action-main: #ff18b0;
$color-action-secondary: #ff78cf;
$color-confirmation: #00a49c;
$app-background: #9480e1;
$app-background-blue: #7eb0f7;
$app-background-2: linear-gradient(
  to bottom,
  $app-background 0%,
  $app-background-blue 100%
);
$font-family-base: Helvetica;

@mixin linear-gradient($color1, $color2) {
  background-image: $app-background-blue linear-gradient(-180deg, $color2 0%, $color1 99%);
  box-shadow: 0 2px 0 0 #b00e78;
}

body {
  background: $app-background-2;
  background-repeat-y: no-repeat;
}

.bonus-panel {
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-family: $font-family-base;

  h1 {
    font-weight: bold;
    font-size: 35px;
  }

  button {
    &:focus {
      outline: none;
    }
    @include linear-gradient($color-action-main, $color-action-secondary);
    color: white;
  }

  .countdown {
    color: $color-action-main;
    font-size: 30px;
  }

  &.confirm {
    h1 {
      font-size: 35px;
      color: $color-confirmation;
      padding: 0 !important;
    }
    button {
      box-shadow: initial;
    }
  }
}
